extends layout

block content
    .editor
        form(action="/" method="POST") 
            p write a post
            label(for="title") title
                input(type="text" name="title" id="title")
            br
            label(for="content") post 
                textarea(name="content" id="content")
            br
            label(for="publish") publish on save 
                input(type="checkbox" name="publish" id="publish" value="true")
            button(type="submit") save

    .archive-list 
        each post in posts
            p #{post.date_added}
            p #{post.title}