extends layout

block content
    form(action='/dashboard/login' method='POST')
        label(for="password") login password:
            input(type="password" name="password" id="password")
        button(type='submit') login